section{
    border: 1px solid black;
    padding: 10px;
    margin: 20px auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 20px grey;
    width: 80%;
}

ul{
    list-style: none;
    padding: 10px;
    text-align: left;
}

ol{
    list-style: decimal;
    padding: 10px;
    text-align: left;
}